.righrBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .container{
    .item{
      span{

      }
      .user{
        .userInfo{
          img{}
          span{}
        }
        .buttons{

        }
      }
    }
  }
}
